<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= typeof title != 'undefined' ? title : 'Page Title' %></title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/7333b2e4f1.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/Resources/admin/plugins/fontawesome-free/css/all.min.css" type="text/css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="/Resources/admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css" type="text/css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/Resources/admin/dist/css/adminlte.min.css" type="text/css">
  <link rel="icon" type="image/png" href="../../Resources/admin/dist/img/AltheaLogo.png" sizes="32x32">
</head>
